body {
    background: url(backgroundbushes.gif) no-repeat center fixed;
    background-size: cover;}

a {font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 3px;
    word-spacing: 1px;
    color: rgb(207, 133, 133);
    font-weight: 700;
    text-decoration: underline solid  rgb(47, 10, 10);
    font-style: italic;
    font-variant: normal;
    text-transform: lowercase;
    background-color:rgb(104, 48, 48);
    border: 5px solid  rgb(47, 10, 10);
    border-radius: 25px;}

    h1 {font-family: Georgia, serif;
    font-size: 40px;
    letter-spacing: 3px;
    word-spacing: 1px;
    color: rgb(207, 133, 133);
    font-weight: 700;
    text-decoration: underline solid  rgb(47, 10, 10);
    font-style: italic;
    font-variant: normal;
    text-transform: lowercase;
    background-color:rgb(104, 48, 48);
    border: 12px dotted  rgb(47, 10, 10);
    border-radius: 25px;}

div.gallery {
    margin: 18px;
    background-color:rgb(104, 48, 48);
    border: 12px dashed rgb(47, 10, 10);
    float: left;
    width: 314px;}
    
div.gallery img {
    width: 100%;
    height: auto;}
              
div.desc {
    padding: 10px;
    text-align: center;}

.moving{
        background-color:rgb(104, 48, 48);
        font-size:20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style:italic;
        font-weight:bold;
        color:rgb(207, 133, 133);
        text-shadow: 2px 2px 8px #291a1a;
        position: static; 
        bottom: 10px; 
        width: 100%; 
        padding: 10px;}